@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

header {
    font-family: "Noto Serif", serif;
    font-size: 42px;
    text-align: center;
    color: #333;
    margin: 36px;
}

blockquote {
    font-family: "Noto Sans JP", "Meiryo", "MS PGothic",　sans-serif;
    font-size: 36px;
    color: #333;
    background: #f2f2f2;
    border-left: 5px solid #ccc;
    display: table;
    margin: auto;
    max-width: 800px;
    padding: 24px;
}

blockquote p {
    margin-top: 0;
}

footer {
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    text-align: center;
    color: #333;
    margin: 36px;
}
