@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

header {
    font-family: "Noto Serif", serif;
    text-align: center;
    color: #333;
    margin: 36px;
}

header h1 {
    margin: 0px;
    font-size: 42px;
    font-weight: normal;
}

header span {
    font-size: 28px;
}

blockquote {
    font-family: "Noto Sans JP", "Meiryo", "MS PGothic",　sans-serif;
    font-size: 36px;
    color: #333;
    background: #f2f2f2;
    border-left: 5px solid #ccc;
    display: table;
    margin: auto;
    max-width: 800px;
    padding: 24px;
}

blockquote p {
    margin-top: 0;
}

header a, td a {
    text-decoration: none;
}

table {
    font-family: "Noto Sans JP", "Meiryo", "MS PGothic",　sans-serif;
    font-size: 28px;
    color: #333;
    display: table;
    margin: auto;
    max-width: 800px;
    border-collapse: collapse;
}

td, th {
    text-align: left;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid #aaa;
}

thead tr {
    background-color: #ccc;
}

tbody tr:nth-child(odd) {
    background-color: #eee;
}

tbody tr:nth-child(even) {
    background-color: #ddd;
}

footer {
    font-family: "Noto Serif", serif;
    font-size: 20px;
    text-align: center;
    color: #333;
    margin: 36px;
}
