<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>VNaaS &gt; Home</title>
    </head>
    <body>
        <header>
            <h1>Visual Novel as a Service</h1>
        </header>
        <blockquote>
            <p>{{ quote_text }}</p>
            <cite>{{ quote_cite }}</cite>
        </blockquote>
        <footer>Find the full API on <a href="https://github.com/apsun/VNaaS/blob/master/API.md">GitHub</a>!</footer>
    </body>
</html>
