<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>VNaaS {% if character is not none %}&gt; Characters &gt; {{ character.name }} {% endif %}&gt; Novels</title>
    </head>
    <body>
        <header>
            <h1>Visual Novel as a Service</h1>
            <span>{% if character is not none %}<a href="/characters">Characters</a> &gt; {{ character.name }} &gt; {% endif %}Novels</span>
        </header>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Characters</th>
                </tr>
            </thead>
            <tbody>
            {% for novel in novel_list %}
                <tr>
                    <td><a href="https://vndb.org/v{{ novel.vndb_id }}">{{ novel.vndb_id }}</a></td>
                    <td>{{ novel.name }}</td>
                    <td><a href="/characters?novel_id={{ novel.vndb_id }}">View</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <footer>Find the full API on <a href="https://github.com/apsun/VNaaS/blob/master/API.md">GitHub</a>!</footer>
    </body>
</html>
